<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me Page || Politaro || Responsive HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#cd2828">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#cd2828">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#cd2828">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CMerriweather:400i&amp;display=swap" rel="stylesheet">

    <!-- plugins styles -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/hover-min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="assets/css/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">

    <!-- icon styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/politaro-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css">

    <!-- main styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <div class="preloader" style="background-image: url(assets/images/resources/preloader.svg);"></div><!-- /.preloader -->
    <div class="page-wrapper">
        <div class="site-header__header-one-wrapper">

            <header class="site-header site-header__header-one site-header__header-three ">
                <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                    <div class="container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="logo-box">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/resources/logo-light-1-1.svg" class="main-logo" alt="Awesome Image" />
                            </a>
                            <button class="menu-toggler side-menu__toggler">
                                <span class="fa fa-bars"></span>
                            </button>
                        </div><!-- /.logo-box -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="main-navigation main-nav__main-navigation">
                            <ul class=" navigation-box ">
                                <li class="current dropdown">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-rtl.html">Home RTL</a></li>
                                        <li class="dropdown"><a href="index.html">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">header One</a></li>
                                                <li><a href="index-2.html">header Two</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li class="dropdown">
                                    <a href="about-us.html">About</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="contact.html">Donations</a>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="team-member.html">Team</a></li>
                                        <li><a href="service-1.html">Services</a></li>
                                    </ul><!-- /.submenu -->
                                </li>

                                <li class="dropdown">
                                    <a href="event-1.html">Events</a>
                                    <ul>
                                        <li><a href="event-1.html">Event 01</a></li>
                                        <li><a href="event-2.html">Event 02</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li class="dropdown">
                                    <a href="blog-classic.html">News</a>
                                    <ul>
                                        <li><a href="blog-classic.html">News Classic</a></li>
                                        <li><a href="blog-grid.html">News Grid</a></li>
                                        <li><a href="blog-post.html">News Details</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li class="header__search search-popup__toggler">
                                    <a href="#"><i class="icon-magnifier"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        <div class="right-side-box">
                            <a href="#" class="thm-btn header-donation__btn">Donations</a>
                        </div><!-- /.right-side-box -->
                    </div>
                    <!-- /.container -->
                </nav>
            </header><!-- /.site-header -->
        </div><!-- /.site-header__header-one-wrapper -->


        <section class="about-me-header" style="background-image: url(assets/images/backgrounds/inner-banner-about-me-bg.jpg);">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <div class="about-me-header__content text-center">
                            <div class="about-me-header__icon">
                                <i class="politaro-icon-star-2"></i>
                            </div><!-- /.about-me-header__icon -->
                            <h3>Chris J. Smith</h3>
                            <p>Veniam quis nostrud exercitation llamco laboris aliquip <br> sed conseqa rure dolorn repreh derit luptate velit excepteur <br> occaecats aliquip ex duis aute irure.</p>
                        </div><!-- /.about-me-header__content -->
                    </div><!-- /.col-lg-5 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container -->
        </section><!-- /.about-me-header -->

        <section class="service-three">
            <div class="container">
                <div class="block-title text-center">
                    <i class="block-title__icon politaro-icon-star-2"></i>
                    <p>Great Politaro Ideas</p>
                    <h3>Together, We can Build Our Nation</h3>
                </div><!-- /.block-title -->
                <div class="service-three__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed do eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorn velit esse. Excepteur sint uda occaecat cupidatat non proident, commodo sunt culpa qui officia deserunt.</p>
                </div><!-- /.service-three__content -->
                <div class="row">
                    <div class="service-three__column">
                        <div class="service-three__single">
                            <i class="politaro-icon-hand-2"></i>
                            <h3><a href="team-member.html">Volunteers</a></h3>
                        </div><!-- /.service-three__single -->
                    </div><!-- /.service-three__column -->
                    <div class="service-three__column">
                        <div class="service-three__single">
                            <i class="politaro-icon-vote-box"></i>
                            <h3><a href="team-member.html">Voter Status</a></h3>
                        </div><!-- /.service-three__single -->
                    </div><!-- /.service-three__column -->
                    <div class="service-three__column">
                        <div class="service-three__single">
                            <i class="politaro-icon-hand-3"></i>
                            <h3><a href="team-member.html">Donations</a></h3>
                        </div><!-- /.service-three__single -->
                    </div><!-- /.service-three__column -->
                    <div class="service-three__column">
                        <div class="service-three__single">
                            <i class="politaro-icon-horn-1"></i>
                            <h3><a href="team-member.html">Policies</a></h3>
                        </div><!-- /.service-three__single -->
                    </div><!-- /.service-three__column -->
                    <div class="service-three__column">
                        <div class="service-three__single">
                            <i class="politaro-icon-check-1"></i>
                            <h3><a href="team-member.html">Campaigns</a></h3>
                        </div><!-- /.service-three__single -->
                    </div><!-- /.service-three__column -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-three -->

        <section class="about-one about-one__about-me">
            <div class="container-fluid">
                <i class="about-one__floated-icon politaro-icon-logo-1"></i>
                <div class="row">
                    <div class="about-one__video-column">
                        <div class="about-one__video wow fadeInLeft" data-wow-duration="1500ms">
                            <img src="assets/images/resources/video-2-1.jpg" class="img-fluid" alt="Awesome Image" />
                            <a href="https://www.youtube.com/watch?v=uRu_JcarCDY" class="video-popup"><i class="fa fa-play"></i></a>
                        </div><!-- /.about-one__video -->
                    </div><!-- /.about-one__video-column -->
                    <div class="about-one__content-column">
                        <div class="about-one__content">
                            <div class="block-title text-left">
                                <i class="block-title__icon politaro-icon-star-2"></i>
                            </div><!-- /.block-title -->
                            <div class="about-one__content-text">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incid dunt ut labore etsu dolore magna aliquat enim minim veniam quis nostrud”.</p>
                            </div><!-- /.about-one__content-text -->
                            <img src="assets/images/shapes/sign-1-1.png" alt="Awesome Image" />
                            <h4>Chairman Politaro</h4>
                        </div><!-- /.about-one__content -->
                    </div><!-- /.about-one__content-column -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section><!-- /.about-one -->

        <section class="twitter-one">
            <div class="twitter-one__bg" style="background-image: url(assets/images/backgrounds/tweet-bg-1-1.jpg);"></div><!-- /.twitter-one__bg -->
            <div class="container text-center">
                <div class="twitter-one__single">
                    <i class="fab fa-twitter twitter-one__icon"></i>
                    <p>"To progress the people who has proven through results, perhaps the strongest economy in our country’s history... <a href="#">#Election2021</a></p>
                    <h3>Follow Us <a href="#">@Politaro</a></h3>
                </div><!-- /.twitter-one__single -->
            </div><!-- /.container -->
        </section><!-- /.twitter-one -->

        <section class="map-one">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <div class="map-one__content">
                            <div class="block-title text-left">
                                <i class="block-title__icon politaro-icon-star-2"></i>
                                <p>Important Incoming News</p>
                                <h3>Internal Functioning <br> of Politaro Party</h3>
                            </div><!-- /.block-title -->
                            <img src="assets/images/resources/map-2-1.jpg" class="img-fluid" alt="Awesome Image" />
                        </div><!-- /.map-one__content -->
                    </div><!-- /.col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="map-one__carousel owl-carousel owl-theme thm__owl-carousel" data-options='{"loop": true, "margin": 0, "nav": false, "dots": true, "autoWidth": false, "autoplay": true, "smartSpeed": 700, "autoplayTimeout": 5000, "autoplayHoverPause": true, "items": 1 }'>
                            <div class="item">
                                <div class="map-one__map text-center">
                                    <div class="wrapper-box">
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management </div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                    </div>
                                    <p>Rure dolorn repreh derit luptate velit excepteur occaecats aliquip duis <br> autey irure dolor in repreh aenderit sed voluptate velit.</p>
                                </div><!-- /.map-one__map -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="map-one__map text-center">
                                    <div class="wrapper-box">
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management </div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                    </div>
                                    <p>Rure dolorn repreh derit luptate velit excepteur occaecats aliquip duis <br> autey irure dolor in repreh aenderit sed voluptate velit.</p>
                                </div><!-- /.map-one__map -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="map-one__map text-center">
                                    <div class="wrapper-box">
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management </div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                        <div class="location-point">
                                            <div class="content">
                                                <div class="text">South Leadership <br>Management</div>
                                            </div>
                                            <span class="point"></span>
                                        </div>
                                    </div>
                                    <p>Rure dolorn repreh derit luptate velit excepteur occaecats aliquip duis <br> autey irure dolor in repreh aenderit sed voluptate velit.</p>
                                </div><!-- /.map-one__map -->
                            </div><!-- /.item -->
                        </div><!-- /.map-one__carousel -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.map-one -->
        <section class="progress-one pb-0">
            <div class="container">
                <div class="inner-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="progress-one__content">
                                <i class="progress-one__floated-icon politaro-icon-logo-1"></i>
                                <div class="block-title text-left">
                                    <i class="block-title__icon politaro-icon-star-2"></i>
                                    <p>Great Politaro Ideas</p>
                                    <h3>In Right Direction, <br> At Right Time</h3>
                                </div><!-- /.block-title -->
                                <div class="progress-one__content-text">
                                    <p>(Conducted by Independent Survey Firm)</p>
                                </div><!-- /.progress-one__content-text -->
                            </div><!-- /.progress-one__content -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="progress-one__box">
                                <div class="progress-one__box-single">
                                    <div class="progress-one__box-top">
                                        <h3>Taxation Approach</h3>
                                        <p><span class="counter">93</span>%</p>
                                    </div><!-- /.progress-one__box-top -->
                                    <div class="progress-one__box-bar">
                                        <span class="wow slideInLeft" data-wow-duration="2000ms" style="width: 93%"></span>
                                    </div><!-- /.progress-one__box-bar -->
                                </div><!-- /.progress-one__box-single -->
                                <div class="progress-one__box-single">
                                    <div class="progress-one__box-top">
                                        <h3>Business Mentoring</h3>
                                        <p><span class="counter">75</span>%</p>
                                    </div><!-- /.progress-one__box-top -->
                                    <div class="progress-one__box-bar">
                                        <span class="wow slideInLeft" data-wow-duration="2000ms" style="width: 75%"></span>
                                    </div><!-- /.progress-one__box-bar -->
                                </div><!-- /.progress-one__box-single -->
                                <div class="progress-one__box-single">
                                    <div class="progress-one__box-top">
                                        <h3>Planning & Development</h3>
                                        <p><span class="counter">80</span>%</p>
                                    </div><!-- /.progress-one__box-top -->
                                    <div class="progress-one__box-bar">
                                        <span class="wow slideInLeft" data-wow-duration="2000ms" style="width: 80%"></span>
                                    </div><!-- /.progress-one__box-bar -->
                                </div><!-- /.progress-one__box-single -->
                                <div class="progress-one__box-single">
                                    <div class="progress-one__box-top">
                                        <h3>Climate Change</h3>
                                        <p><span class="counter">65</span>%</p>
                                    </div><!-- /.progress-one__box-top -->
                                    <div class="progress-one__box-bar">
                                        <span class="wow slideInLeft" data-wow-duration="2000ms" style="width: 65%"></span>
                                    </div><!-- /.progress-one__box-bar -->
                                </div><!-- /.progress-one__box-single -->
                            </div><!-- /.progress-one__box -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </section><!-- /.progress-one -->

        <section class="brand-one brand-one__event-one">
            <div class="container">
                <div class="thm__owl-carousel owl-carousel owl-theme" data-options='{"loop": true, "margin": 120, "nav": false, "dots": false, "autoWidth": false, "autoplay": true, "smartSpeed": 700, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {"0": {"items": 2, "margin": 30 }, "480": {"items": 2, "margin": 20 }, "600": {"items": 3, "margin": 50 }, "991": {"items": 4 }, "1000": {"items": 5 }, "1200": {"items": 5 } } }'>
                    <div class="item">
                        <img src="assets/images/brand/brand-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                </div><!-- /.brand-one__carousel owl-carousel owl-theme -->
            </div><!-- /.container -->
        </section><!-- /.brand-one -->


        <section class="mailchimp-one site-footer__style-two">
            <div class="container text-center">
                <div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
                    <div class="mailchimp-one__block-title">
                        <p>Get The Latest Updates</p>
                        <h3>Signup For Newsletter</h3>
                    </div><!-- /.mailchimp-one__block-title -->
                    <form action="#" class="mailchimp-one__form mc-form" data-url="https://xyz.us18.list-manage.com/subscribe/post?u=20e91746ef818cd941998c598&amp;id=cc0ee8140e">
                        <input type="email" id="mc-email" placeholder="Enter Your Email...." name="email">
                        <button type="submit" class="thm-btn">subscribe</button>
                    </form><!-- /.mailchimp-one__form -->
                </div><!-- /.inner-container -->
                <div class="mc-form__response"></div><!-- /.mc-form__response -->
            </div><!-- /.container -->
        </section><!-- /.mailchimp-one -->

        <section class="site-footer__wrapper site-footer__style-two">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="site-footer__logo">
                        <a href="index.html"><img src="assets/images/resources/logo-light-1-1.svg" alt="Awesome Image" /></a>
                    </div><!-- /.site-footer__logo -->
                    <div class="site-footer__counter">
                        <div class="site-footer__counter-single">
                            <h3>$<span class="counter">9.1</span>k</h3><!-- /.counter -->
                            <p>Donated Money</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">1,380</h3><!-- /.counter -->
                            <p>Votes Confirmed</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">679</h3><!-- /.counter -->
                            <p>Projects Done</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">2,450</h3><!-- /.counter -->
                            <p>Active Volunteers</p>
                        </div><!-- /.site-footer__counter-single -->
                    </div><!-- /.site-footer__counter -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <footer class="site-footer">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">About Us</h3><!-- /.footer-widget__title -->
                                <p>Lorem ipsum dolor sit amet consecteur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim veniam quis.</p>
                                <div class="footer-widget__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__links-widget">
                                <h3 class="footer-widget__title">The Party</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="about-us.html">About Politaro</a></li>
                                    <li><a href="service-1.html">What We Do</a></li>
                                    <li><a href="about-us.html">Where We Work</a></li>
                                    <li><a href="about-us.html">Our Missions</a></li>
                                    <li><a href="about-us.html">Privacy Policy</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__links-widget">
                                <h3 class="footer-widget__title">Useful Links</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="about-us.html">Our Partners</a></li>
                                    <li><a href="about-us.html">Become Donator</a></li>
                                    <li><a href="about-us.html">Party Causes</a></li>
                                    <li><a href="event-1.html">Main Events</a></li>
                                    <li><a href="blog-classic.html">Latest News</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__contact-widget">
                                <h3 class="footer-widget__title">Get In Touch</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__contact-info list-unstyled">
                                    <li>
                                        <i class="fa fa-phone-alt"></i>
                                        <strong><a href="tel:+1-345-206-7849">+ 1 (345) 206 7849</a></strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-open"></i>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        143 Ringer House, NY <br> 58920 United States
                                    </li>
                                </ul><!-- /.footer-widget__contact-info -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </footer><!-- /.site-footer -->
            <div class="site-footer__bottom">
                <div class="container text-center">
                    <p>©Copyright ECONOMIC Todos los derechos reservados.</p>
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </section><!-- /.site-footer__wrapper -->
    </div><!-- /.page-wrapper -->
    <div class="side-menu__block">

        <a href="#" class="side-menu__toggler side-menu__close-btn">
            <i class="fa fa-times"></i>
        </a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="index.html" class="side-menu__logo"><img src="assets/images/resources/logo-light-1-1.svg" alt="Awesome Image" /></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy">©Copyright ECONOMIC Todos los derechos reservados.</p>
            <div class="side-menu__social">
                <!-- only fontawesome's brand icon -->
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-linkedin-in"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->
    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/jquery.enllax.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="assets/js/nouislider.js"></script>
    <script src="assets/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>


</html>