<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Post Page || Politaro || Responsive HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#cd2828">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#cd2828">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#cd2828">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CMerriweather:400i&amp;display=swap" rel="stylesheet">

    <!-- plugins styles -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/hover-min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="assets/css/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">

    <!-- icon styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/politaro-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css">

    <!-- main styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <div class="preloader" style="background-image: url(assets/images/resources/preloader.svg);"></div><!-- /.preloader -->
    <div class="page-wrapper">
        <div class="site-header__header-one-wrapper">
            <div class="topbar-one">
                <div class="container">
                    <div class="topbar-one__left">
                        <p><i class="fa fa-rss"></i> <span>News Press:</span> Our new campaign 2021 ready to launch from next week </p>
                    </div><!-- /.topbar-one__left -->
                    <div class="topbar-one__right">
                        <a href="blog-grid.html">Media News</a>
                        <a href="contact.html">Join Us</a>
                        <a href="contact.html">Contact</a>
                        <div class="topbar-one__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </div><!-- /.topbar-one__social -->
                    </div><!-- /.topbar-one__right -->
                </div><!-- /.container -->
            </div><!-- /.topbar-one -->
            <header class="site-header site-header__header-one  ">
                <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                    <div class="container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="logo-box">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/resources/logo-light-1-1.svg" class="main-logo" alt="Awesome Image" />
                            </a>
                            <button class="menu-toggler side-menu__toggler">
                                <span class="fa fa-bars"></span>
                            </button>
                        </div><!-- /.logo-box -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="main-navigation main-nav__main-navigation">
                            <ul class=" navigation-box ">
                                <li class="current dropdown">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-rtl.html">Home RTL</a></li>
                                        <li class="dropdown"><a href="index.html">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">header One</a></li>
                                                <li><a href="index-2.html">header Two</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li class="dropdown">
                                    <a href="about-us.html">About</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="contact.html">Donations</a>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="team-member.html">Team</a></li>
                                        <li><a href="service-1.html">Services</a></li>
                                    </ul><!-- /.submenu -->
                                </li>

                                <li class="dropdown">
                                    <a href="event-1.html">Events</a>
                                    <ul>
                                        <li><a href="event-1.html">Event 01</a></li>
                                        <li><a href="event-2.html">Event 02</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li class="dropdown">
                                    <a href="blog-classic.html">News</a>
                                    <ul>
                                        <li><a href="blog-classic.html">News Classic</a></li>
                                        <li><a href="blog-grid.html">News Grid</a></li>
                                        <li><a href="blog-post.html">News Details</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li class="header__search search-popup__toggler">
                                    <a href="#"><i class="icon-magnifier"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        <div class="right-side-box">
                            <a href="contact.html" class="thm-btn header-donation__btn">Donations</a>
                        </div><!-- /.right-side-box -->
                    </div>
                    <!-- /.container -->
                </nav>
            </header><!-- /.site-header -->
        </div><!-- /.site-header__header-one-wrapper -->
        <section class="inner-banner" style="background-image: url(assets/images/backgrounds/inner-banner-blog-details-bg.jpg);">
            <div class="container text-center">
                <i class="inner-banner__icon politaro-icon-star-2"></i>
                <h2 class="inner-banner__title">Full Blog Post</h2><!-- /.inner-banner__title -->
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog Post</li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->


        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-details__main-content">
                            <div class="blog-two__single">
                                <div class="blog-two__image">
                                    <img src="assets/images/blog/blog-2-1.jpg" alt="">
                                    <a href="blog-post.html" class="blog-two__cat">Election</a><!-- /.blog-two__cat -->
                                </div><!-- /.blog-two__image -->
                            </div><!-- /.blog-two__single -->
                            <div class="blog-details__content">
                                <div class="blog-two__meta">
                                    <a href="blog-post.html"><i class="far fa-user"></i>Ken Mendy</a>
                                    <a href="blog-post.html"><i class="far fa-calendar-alt"></i>Dec 25, 2019</a>
                                    <a href="blog-post.html"><i class="far fa-comment-alt"></i>139</a>
                                    <a href="blog-post.html"><i class="far fa-heart"></i>2.7k</a>
                                </div><!-- /.blog-two__meta -->
                                <h3 class="blog-details__content__title">How Can We Build Country A Better Living</h3>
                                <p class="blog-details__highlight color-thm-black">Eabore dolore magn aliqua enim veniam quis nostrud exercitas reprehenderit sint voluptate esse cillum dolore fugiat nulla pariatur excepteur sint occaecat cupidats. </p><!-- /.color-thm-black -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed do eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ullamco laboris nisut aliquip ex ea commod consequat. Duis aute irure dolorn reprehenderit voluptate velit esse. Excepteur sint uda occaecat cupidatat non proident com sunt culpa qui officia deserunt mollit anim id est laborum sed utm pers piciatis unde omnis iste dolor natus error sit ipsum diu enimery sed ipsum voluptatem.</p>
                                <h4 class="blog-post__subtitle">Political stability is the best virtue.</h4>
                                <p>Magna aliquatenim minim veniam quis nostrud <span class="color-thm-base">exercitation ullamco laboris nisut</span><!-- /.color-thm-base --> aliquip exa commod consequat. Duis aute irure dolorn reprehenderit voluptate velit esse. Excepteur sint uda occaecat cupidatat non proident com sunt culpa qui officia deserunt mollit anim id est laborum sed utms.</p>
                                <div class="row blog-details__content__image-row">
                                    <div class="col-md-6">
                                        <img src="assets/images/blog/blog-d-1.jpg" alt="" class="img-fluid">
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <img src="assets/images/blog/blog-d-2.jpg" alt="" class="img-fluid">
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                                <p>Nostrud exercitation ullamco laboris nisut aliquip ex ea commod consequat. Duis aute irure dolorn prehendit volup tate velit esse. Excepteur sint uda occaecat cupidatat non proident, como sunt culpa qui officia deserunt mollit anim est laborum sed utms labore et dolore magna aliqua <span class="color-thm-base">ut enim ad minim veniam</span> quis nostrud exercitan lamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit. </p>
                                <blockquote>
                                    Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident euntin culp qui officia deserunt mollit anim idm esta laborum sed.
                                </blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed do eiusmod tempor incididunt ut labore etsu dolore
                                    magna aliquatenim minim veniam quis nostrud exercitation ullamco laboris nisut aliquip ex ea commod consequat.
                                    Duis aute irure dolorn reprehenderit voluptate velit esse.</p>

                                <div class="blog-details__tags">
                                    <a href="#">Business</a>
                                    <a href="#">Campaigns</a>
                                    <a href="#">Campaigns</a>
                                </div><!-- /.blog-details__tags -->
                            </div><!-- /.blog-details__content -->


                            <div class="blog-comment-one">
                                <h3 class="blog-comment-one__title">3 Replies</h3><!-- /.blog-comment-one__title -->
                                <div class="blog-comment-one__single">
                                    <img src="assets/images/blog/comment-1-1.jpg" alt="">
                                    <div class="blog-comment-one__single-top">
                                        <h3>Anne Delgado</h3>
                                        <span>March 23, 2019</span>
                                        <a href="#" class="scroll-to-target" data-target=".blog-comment-form__wrap"><i class="fa fa-reply"></i>Reply</a>
                                    </div><!-- /.blog-comment-one__single-top -->
                                    <p>Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp quis
                                        officia deserunt mollit anim id est laborum sed unt perspiciatis.
                                    </p>
                                </div><!-- /.blog-comment-one__single -->
                                <div class="blog-comment-one__single">
                                    <img src="assets/images/blog/comment-1-2.jpg" alt="">
                                    <div class="blog-comment-one__single-top">
                                        <h3>Emma Daniel</h3>
                                        <span>March 23, 2019</span>
                                        <a href="#" class="scroll-to-target" data-target=".blog-comment-form__wrap"><i class="fa fa-reply"></i>Reply</a>
                                    </div><!-- /.blog-comment-one__single-top -->
                                    <p>Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp quis
                                        officia deserunt mollit anim id est laborum sed unt perspiciatis.
                                    </p>
                                </div><!-- /.blog-comment-one__single -->
                                <div class="blog-comment-one__single">
                                    <img src="assets/images/blog/comment-1-3.jpg" alt="">
                                    <div class="blog-comment-one__single-top">
                                        <h3>Jeff Robbins</h3>
                                        <span>March 23, 2019</span>
                                        <a href="#" class="scroll-to-target" data-target=".blog-comment-form__wrap"><i class="fa fa-reply"></i>Reply</a>
                                    </div><!-- /.blog-comment-one__single-top -->
                                    <p>Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp quis
                                        officia deserunt mollit anim id est laborum sed unt perspiciatis.
                                    </p>
                                </div><!-- /.blog-comment-one__single -->
                            </div><!-- /.blog-comment-one -->

                            <div class="blog-comment-form__wrap">
                                <h3 class="blog-comment-one__title">Add Comment</h3><!-- /.blog-comment-one__title -->
                                <form action="#" class="blog-comment-form contact-form-validated row">
                                    <div class="col-md-12">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div><!-- /.col-md-12 -->
                                    <div class="col-md-6">
                                        <input type="text" name="name" placeholder="Name">
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <input type="email" name="email" placeholder="Email">
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-12">
                                        <button type="submit" class="thm-btn blog-comment-form__btn">post comment</button>
                                    </div><!-- /.col-md-12 -->
                                </form>
                            </div><!-- /.blog-comment-form__wrap -->
                        </div><!-- /.blog-details__main-content -->
                    </div><!-- /.col-lg-9 -->
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <form action="#" class="sidebar__search-form">
                                    <input type="search" placeholder="Search">
                                    <button type="submit" class="fa fa-search"></button>
                                </form>
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single sidebar__cat">
                                <h3 class="sidebar__title">Categories</h3><!-- /.sidebar__title -->
                                <ul class="list-unstyled sidebar__cat-list">
                                    <li><a href="#">Politics<span>(23)</span></a></li>
                                    <li><a href="#">Freedon of Speech<span>(10)</span></a></li>
                                    <li><a href="#">Conference<span>(8)</span></a></li>
                                    <li><a href="#">Our Campaign<span>(15)</span></a></li>
                                    <li><a href="#">Marketing<span>(28)</span></a></li>
                                    <li><a href="#">Election 2021 <span>(13)</span></a></li>
                                </ul><!-- /.list-unstyled sidebar__cat-list -->
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single sidebar__event">
                                <h3 class="sidebar__title">Recent Events</h3><!-- /.sidebar__title -->
                                <ul class="list-unstyled sidebar__event-list">
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-6.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-7.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-8.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/blog/sidebar-g-1-9.jpg" alt=""></a></li>
                                </ul><!-- /.list-unstyled -->
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single sidebar__post">
                                <h3 class="sidebar__title">trending posts</h3><!-- /.sidebar__title -->
                                <div class="sidebar__post-single">
                                    <img src="assets/images/blog/sidebar-lp-1-1.jpg" alt="">
                                    <h3><a href="blog-post.html">Party Candidates as
                                            Stakeholders Rely</a></h3>
                                    <span><i class="fa fa-calendar-alt"></i> January 3, 2021</span>
                                </div><!-- /.sidebar__post-single -->
                                <div class="sidebar__post-single">
                                    <img src="assets/images/blog/sidebar-lp-1-2.jpg" alt="">
                                    <h3><a href="blog-post.html">How to Make Country
                                            Better foe Living</a></h3>
                                    <span><i class="fa fa-calendar-alt"></i> January 3, 2021</span>
                                </div><!-- /.sidebar__post-single -->
                                <div class="sidebar__post-single">
                                    <img src="assets/images/blog/sidebar-lp-1-3.jpg" alt="">
                                    <h3><a href="blog-post.html">Contents for Political
                                            Party Missions</a></h3>
                                    <span><i class="fa fa-calendar-alt"></i> January 3, 2021</span>
                                </div><!-- /.sidebar__post-single -->
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single sidebar__tags">
                                <h3 class="sidebar__title">Popular Tags</h3><!-- /.sidebar__title -->
                                <div class="sidebar__tags-list">
                                    <a href="#">Business</a>
                                    <a href="#">Campaigns</a>
                                    <a href="#">Event</a>
                                    <a href="#">Elections</a>
                                    <a href="#">Speakers</a>
                                    <a href="#">politics</a>
                                </div><!-- /.sidebar__tags-list -->
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single sidebar__offer" style="background-image: url(assets/images/blog/blog-sidebar-ad-1.jpg);">
                                <i class="politaro-icon-star-2"></i>
                                <p>Next Event Will Start</p>
                                <h3>2 days</h3>
                                <span>Remaining</span>
                            </div><!-- /.sidebar__single -->
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details -->

        <section class="mailchimp-one site-footer__style-two">
            <div class="container text-center">
                <div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
                    <div class="mailchimp-one__block-title">
                        <p>Get The Latest Updates</p>
                        <h3>Signup For Newsletter</h3>
                    </div><!-- /.mailchimp-one__block-title -->
                    <form action="#" class="mailchimp-one__form mc-form" data-url="https://xyz.us18.list-manage.com/subscribe/post?u=20e91746ef818cd941998c598&amp;id=cc0ee8140e">
                        <input type="email" id="mc-email" placeholder="Enter Your Email...." name="email">
                        <button type="submit" class="thm-btn">subscribe</button>
                    </form><!-- /.mailchimp-one__form -->
                </div><!-- /.inner-container -->
                <div class="mc-form__response"></div><!-- /.mc-form__response -->
            </div><!-- /.container -->
        </section><!-- /.mailchimp-one -->

        <section class="site-footer__wrapper site-footer__style-two">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="site-footer__logo">
                        <a href="index.html"><img src="assets/images/resources/logo-light-1-1.svg" alt="Awesome Image" /></a>
                    </div><!-- /.site-footer__logo -->
                    <div class="site-footer__counter">
                        <div class="site-footer__counter-single">
                            <h3>$<span class="counter">9.1</span>k</h3><!-- /.counter -->
                            <p>Donated Money</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">1,380</h3><!-- /.counter -->
                            <p>Votes Confirmed</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">679</h3><!-- /.counter -->
                            <p>Projects Done</p>
                        </div><!-- /.site-footer__counter-single -->
                        <div class="site-footer__counter-single">
                            <h3 class="counter">2,450</h3><!-- /.counter -->
                            <p>Active Volunteers</p>
                        </div><!-- /.site-footer__counter-single -->
                    </div><!-- /.site-footer__counter -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <footer class="site-footer">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">About Us</h3><!-- /.footer-widget__title -->
                                <p>Lorem ipsum dolor sit amet consecteur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim veniam quis.</p>
                                <div class="footer-widget__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__links-widget">
                                <h3 class="footer-widget__title">The Party</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="about-us.html">About Politaro</a></li>
                                    <li><a href="service-1.html">What We Do</a></li>
                                    <li><a href="about-us.html">Where We Work</a></li>
                                    <li><a href="about-us.html">Our Missions</a></li>
                                    <li><a href="about-us.html">Privacy Policy</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__links-widget">
                                <h3 class="footer-widget__title">Useful Links</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="about-us.html">Our Partners</a></li>
                                    <li><a href="about-us.html">Become Donator</a></li>
                                    <li><a href="about-us.html">Party Causes</a></li>
                                    <li><a href="event-1.html">Main Events</a></li>
                                    <li><a href="blog-classic.html">Latest News</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget__contact-widget">
                                <h3 class="footer-widget__title">Get In Touch</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__contact-info list-unstyled">
                                    <li>
                                        <i class="fa fa-phone-alt"></i>
                                        <strong><a href="tel:+1-345-206-7849">+ 1 (345) 206 7849</a></strong>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-open"></i>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        143 Ringer House, NY <br> 58920 United States
                                    </li>
                                </ul><!-- /.footer-widget__contact-info -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </footer><!-- /.site-footer -->
            <div class="site-footer__bottom">
                <div class="container text-center">
                    <p>©Copyright ECONOMIC Todos los derechos reservados.</p>
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </section><!-- /.site-footer__wrapper -->
    </div><!-- /.page-wrapper -->
    <div class="side-menu__block">

        <a href="#" class="side-menu__toggler side-menu__close-btn">
            <i class="fa fa-times"></i>
        </a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="index.html" class="side-menu__logo"><img src="assets/images/resources/logo-light-1-1.svg" alt="Awesome Image" /></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy">©Copyright ECONOMIC Todos los derechos reservados.</p>
            <div class="side-menu__social">
                <!-- only fontawesome's brand icon -->
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-linkedin-in"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->
    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/jquery.enllax.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="assets/js/nouislider.js"></script>
    <script src="assets/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>


</html>